/bootstrap/compiled.php
/vendor
/.sass-cache
/.tmp
/.idea
/node_modules
/app/assets/bower_components
/test/bower_components
/public/assets
composer.phar
composer.lock
.env.*.php
.env.php
!.env.example.php
.DS_Store
.directory
Thumbs.db
npm-debug.log
_ide_helper.php
.env.development.php
