/bootstrap/compiled.php
/vendor
/.sass-cache
/.tmp
/.idea
/node_modules
/app_design/bower_components
/test/bower_components
/public/statics/bower_components
composer.phar
composer.lock
.env.*.php
.env.php
!.env.example.php
.DS_Store
.directory
Thumbs.db
npm-debug.log
