<div id="submit-div" class="ch-box">
    <h3><span>Publish</span></h3>

    <div class="inside">
        <div id="minor-publishing-actions">
        </div>
        <div id="major-publishing-actions">
            <div id="delete-action">
                <a href="" class="submit-delete">Move to Trash</a>
            </div>
            <div id="publish-action">
                <input type="submit" name="publish" id="publish" value="Publish"
                       class="button small"/>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>