<div class="columns">
    <div id="submit-div" class="ch-box ch-publish-box">
        <div class="header-box">
            <h3 class="title"><span>Publish</span></h3>
        </div>

        <div class="body-box row">
            <div class="columns">
                <h4>titlo</h4>
                <p>Aver q onda</p>
            </div>
        </div>

        <div class="footer-publish">
            <div id="minor-publishing-actions">
            </div>
            <div id="major-publishing-actions">
                <div id="delete-action">
                    <a href="" class="submit-delete">Move to Trash</a>
                </div>
                <div id="publish-action">
                    <input type="submit" name="publish" id="publish" value="Publish"
                           class="button small"/>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
</div>
