<div class="row title-wrap">
    <div class="columns">
        <label>Title *
            <input id="title" type="text" placeholder=""/>
        </label>
    </div>
</div>
<div class="row edit-form-section">
    <div class="columns">
        <label>Abstract:
            <textarea name="abstract" id="editor1" cols="30" rows="5"></textarea>
        </label>
    </div>
</div>
<div class="row edit-form-section">
    <div class="columns">
        <label>Content:
            <textarea name="content" id="editor2" cols="30" rows="5"></textarea>
        </label>
    </div>
</div>




