@mixin header-box-tab-title {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: rem-calc(14);
  margin: 0;
  line-height: 1.4;
  color: #222;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.ch-box-row {
  @include grid-row();
}

.ch-box {
  //  border: 1px solid #e5e5e5;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
  background-color: #fff;
  margin-bottom: 20px;

  .header-tab-box {
    background: #efefef;
    a {
      padding-left: 20px;
      @include header-box-tab-title;
    }
  }

  .body-tab-box {
    margin: 25px 0 0;
    position: relative;
    padding: 0 12px 12px 12px;
    line-height: rem-calc(18);
    font-size: rem-calc(13);
  }

  .header-box {
    border-bottom: 1px solid #eee;
    padding-left: 12px;
    padding-right: 12px;
    .title {
      @include header-box-tab-title;
      padding-left: 8px;
    }
  }
  .body-box {
    margin: 6px 0 0;
    position: relative;
    padding: 0 12px 12px 12px;
    line-height: rem-calc(18);
    font-size: rem-calc(13);
  }
}

.ch-publish-box .footer-publish {
  .button {
    font-size: rem-calc(13);
    line-height: 1;
  }

  background: #f5f5f5;
  margin: 0;
  padding: 0;
  //    clear: both;

  #major-publishing-actions {
    padding: 10px 20px;
    clear: both;
    border-top: 1px solid #ddd;

    #publish-action {
      float: right;
      text-align: right;
    }
    #delete-action {
      line-height: rem-calc(13)+2*$button-sml;
      vertical-align: middle;
      text-align: left;
      float: left;

      a {
        color: #a00;
      }
      a:hover {
        color: #a00;
      }
    }
  }
}
