html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body.backend {
  height: 100%;
  margin: 0;
  padding: 0;

  @media #{$medium-up} {
    margin-top: 32px;
  }

  .title-section-row {
    @include grid-row();
    margin-bottom: 20px;
    .title-section-column {
      @include grid-column(12);
    }
  }

  .ch-wrap {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;

    .ch-content {
      @media #{$medium-up} {
        margin-left: 172px;
        margin-right: 12px;
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
      }
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
      height: 100%;

      .ch-body {
        position: relative;
        margin: 10px 0 0 0;
        padding-top: 46px;
        @media #{$medium-up} {
          padding-top: 0;
        }

        padding-bottom: 65px;
        float: left;
        width: 100%;
        overflow: visible !important;

        .form-wrap {
          float: left;
          width: 100%;
        }
      }
    }
  }
}

/*
|---------------------------------------------------------------------
| Sidebar Menu
|---------------------------------------------------------------------
*/
#admin-menu-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  @media #{$small-only} {
    display: none;
  }
}

#admin-menu-wrap {
  z-index: 99;
  position: fixed;
  @media #{$small-only} {
    display: none;
  }
}

#admin-menu-background, #admin-menu-wrap, #admin-menu, #admin-menu .ch-submenu {
  width: 160px;
}
